@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans:wght@300&display=swap");

/* font-family: 'Didact Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Work Sans', sans-serif; */

html {
  font-size: 30px;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
  margin: 0;
  font-size: 3rem;
}

h3 {
  color: #333;
  font-size: 0.8rem;
  font-family: "Didact Gothic", sans-serif;
  opacity: 0.7;
  padding: 200px 0 30px 0;
}

section:nth-of-type(1) > header > p {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.6rem;
  margin-bottom: 70px;
}

section:nth-of-type(1) > div {
  width: 45%;
  margin: 80px auto 0 auto;
}

section:nth-of-type(1) > div > img {
  width: 100%;
  height: 100%;
}

section:nth-of-type(1) > h1 {
  text-align: center;
  font-size: 5rem;
  font-family: "Work Sans", sans-serif;
}

section:not(section:nth-of-type(1)) h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  color: white;
  font-family: "Work Sans", sans-serif;
}

section:not(section:nth-of-type(1)) {
  width: 100%;
  padding-bottom: 60px;
}

section:not(section:nth-of-type(1)) article p {
  font-family: "Didact Gothic", sans-serif;
  color: white;
  font-size: 0.7rem;
  margin: 40px 0 80px 0;
  opacity: 0.5;
}

section > article > div:nth-of-type(2) > a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-family: "Fjalla One", sans-serif;
  padding: 15px;
  cursor: pointer;
}

section > article {
  padding-left: 16%;
  padding-bottom: 40px;
}

section:nth-of-type(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/portfolio2.jpg") no-repeat center/cover;
}

section > article h3::before {
  content: "";
  background-color: white;
  width: 20px;
  vertical-align: middle;
  height: 3px;
  width: 10px;
  display: inline-block;
  margin-right: 10px;
}

section:nth-of-type(3) > article h3::before,
section:nth-of-type(5) > article h3::before {
  background-color: #333;
}

section:nth-of-type(2) > article > div:nth-of-type(1) > h3 {
  color: white;
  opacity: 0.5;
}

section > article > div:nth-of-type(2) > h1 {
  color: white;
  text-align: right;
  font-size: 5.4rem;
  margin: 0;
  padding-right: 80px;
  font-family: "Fjalla One", sans-serif;
  opacity: 0.1;
}

/* NOT WORKING */
/* section:nth-of-type(2)
  > main
  > div:nth-of-type(2)
  > a:hover
  + section:nth-of-type(3)
  > main
  > div:nth-of-type(2)
  > h1 {
  opacity: 1;
} */

/* WORKING */
#linkTo:hover + #siteNummer {
  opacity: 1;
}

section:nth-of-type(3) {
  background: url("../img/portfolio3.png") no-repeat center/cover;
}

/* NOT WORKING */
/* section:nth-of-type(3)
  > main
  > div:nth-of-type(2)
  > a:hover
  + section:nth-of-type(3)
  > main
  > div:nth-of-type(2)
  > h1 {
  color: #333;
} */

/* WORKING */
#linkTo2:hover + #siteNummer2 {
  color: #333;
}

section:nth-of-type(4) {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/portfolio4.jpg") no-repeat center/cover;
}

section:nth-of-type(3) > article > div:nth-of-type(2) > a,
section:nth-of-type(5) > article > div:nth-of-type(2) > a {
  color: black;
  border: 1px solid black;
}

section:nth-of-type(2) > article > div:nth-of-type(2) > a:hover,
section:nth-of-type(4) > article > div:nth-of-type(2) > a:hover {
  color: black;
  background-color: white;
}

section:nth-of-type(3) > article > div:nth-of-type(2) > a:hover,
section:nth-of-type(5) > article > div:nth-of-type(2) > a:hover {
  color: white;
  background-color: black;
}

section:nth-of-type(3) > article > div:nth-of-type(2) > h1,
section:nth-of-type(5) > article > div:nth-of-type(2) > h1 {
  opacity: 1;
  color: #666;
}

section:nth-of-type(3) > article > h1,
section:nth-of-type(5) > article > h1 {
  color: #333;
}

span {
  display: block;
  font-family: "Didact Gothic", sans-serif;
  font-size: 0.7rem;
  margin: 40px 0 80px 0;
  color: #333;
  opacity: 1;
}

/* NOT WORKING */
/* section:nth-of-type(4)
  > main
  > div:nth-of-type(2)
  > a:hover
  + section:nth-of-type(3)
  > main
  > div:nth-of-type(2)
  > h1 {
  opacity: 1;
} */

/* WORKING */
#linkTo1:hover + #siteNummer1 {
  opacity: 1;
}

section:nth-of-type(4) > article > div:nth-of-type(1) > h3 {
  color: white;
  opacity: 0.5;
}

section:nth-of-type(4) > article > div:nth-of-type(2) > h1 {
  opacity: 0.1;
}

section:nth-of-type(5) {
  background: url("../img/portfolio5.png") no-repeat center/cover;
}

/* NOT WORKING */
/* section:nth-of-type(5)
  > main
  > div:nth-of-type(2)
  > a:hover
  + section:nth-of-type(3)
  > main
  > div:nth-of-type(2)
  > h1 {
  color: #333;
} */

/* WORKING */
#linkTo3:hover + #siteNummer3 {
  color: #333;
}

body > article {
  background-color: #000;
}

body > article > h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 6rem;
  text-align: center;
  color: white;
}

body > article > aside {
  width: 50%;
  margin: 100px 30px 0 auto;
  color: #666;
}

body > article > aside > p {
  padding: 0 40px 80px 0;
  font-family: "Didact Gothic", sans-serif;
}

body > article > aside > a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  display: block;
  padding: 50px 0 150px 0;
  font-family: "Didact Gothic", sans-serif;
}

body > article > aside > a:hover {
  text-decoration: underline;
  opacity: 0.9;
}

footer a {
  font-size: 5rem;
  text-decoration: none;
  color: #000;
  font-family: "Didact Gothic", sans-serif;
}

footer a:hover {
  text-decoration: underline;
}

footer > div {
  text-align: center;
  padding-bottom: 160px;
}

footer > div:nth-of-type(1) {
  padding-top: 280px;
}

footer > div:nth-of-type(4) {
  text-align: center;
}

@keyframes heart {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(2, 2);
  }
}

footer > div:nth-of-type(4) > span {
  animation: heart 1s infinite ease-in-out;
  position: absolute;
  left: 50%;
  margin-left: -12px;
}
